@import "fonts/fonts.less";

:root {
    font-family: "Cotham Sans", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
main {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    @media (prefers-color-scheme: dark) {
        background-color: #1f201d;
    }
}

main {
    width: calc(100% - 8em);
    height: fit-content;
    margin-top: 8em;
    padding-left: 4em;
    padding-right: 4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lexend", sans-serif;
    font-weight: bold;
}

section#hero {
    h1 {
        font-size: 5em;
        text-align: center;
        mask: radial-gradient(rgba(1, 1, 1, 0.15));
    }
}

ul#navbar {
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    position: fixed;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0.25em;
    height: 3em;
    width: calc(100% - 0.5em);
    z-index: 999;

    @media (prefers-color-scheme: dark) {
        background-color: #1f201d;
    }

    li:has(#logo) {
        margin-top: 0.25em;
        position: absolute;
        left: calc(50% - 4em);
        border-radius: 0 0 4em 4em;
        padding-bottom: 0.25em;

        &:hover #logo {
            animation: spin 500ms ease-out forwards;
        }
    }

    @keyframes spin {
        from {
            rotate: y 0deg;
        }
        to {
            rotate: y 360deg;
        }
    }

    #logo {
        width: 8em;
        height: 8em;
        background: center / contain no-repeat url("/logo.svg");
        background-position-y: top;

        @media (prefers-color-scheme: dark) {
            background-color: #1f201d;
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: center / contain no-repeat url("/logo-text.png");
        }
    }

    li {
        float: left;
        &.right {
            float: right;
        }

        &.star {
            position: relative;
            margin-right: 1.5em;
            &::after {
                content: "";
                display: block;
                width: 1em;
                height: 1em;
                background: center / contain no-repeat url("/star.svg");
                position: absolute;
                top: calc(50% - 0.5em);
                right: -1.25em;
                pointer-events: none;
            }
        }

        a {
            border-radius: 2em;
            display: block;
            color: black;
            @media (prefers-color-scheme: dark) {
                color: white;
            }
            text-align: center;
            padding: 0.75em 1em;
            text-decoration: none;
            transition: background-color 200ms ease-in;

            &:hover {
                background-color: #726a50;
            }
        }
    }
}
